.collage {
  opacity: 0;
}

.photo-bar {
  width: 100%;
  opacity: 0;
  height: 45px;
  background-color: #222;
  z-index: 0;
  position: absolute;
}

.center {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}